!!! 5
html(class='no-js',lang=currentLocale)
  head
    meta(charset='utf-8')
    meta(http-equiv="X-UA-Compatible",content="IE=edge,chrome=1")

    - if(typeof(person) != 'undefined')
      title SG Talento - #{person.name} #{person.lastNames}
    - else 
      title SG Talento

    meta(name='description',content='SG Talento')
    meta(name='author',content='Just Cloud')

    meta(name='viewport',width='width=device-width,initial-scale=1')

    //Google and tagit css
    link(rel='stylesheet',type='text/css', href='http://fonts.googleapis.com/css?family=Arimo:400,700|Yanone+Kaffeesatz&subset=latin&v2')
    link(rel='stylesheet',type='text/css',media='screen',href='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css')/
    link(rel='stylesheet',type='text/css',media='screen',href='/styles/css/jquery.tagit.css')

    //Boilerplate before
    link(rel='stylesheet',href='/styles/css/style.css')
    
    //Bootstrap.less customized
    link(rel='stylesheet',href='/styles/less/style.css')

    link(rel="stylesheet", type="text/css", media="screen", href="/styles/css/main.css")
    link(rel="stylesheet", type="text/css", media="print", href="/styles/css/print.css")

    //Custom view style
    - if(typeof(styles) != 'undefined')
      - each style in styles
        link(rel="stylesheet",type="text/css",media="screen",href=style)

    //boilerplate after css
    link(rel='stylesheet',href='/styles/css/after.css')

    script(src='/scripts/js/libs/modernizr-2.0.6.min.js')

  body
    #page
      - if(typeof(person) != 'undefined')
        #header-cv.clearfix
          -var qrUrl = "http://chart.apis.google.com/chart?cht=qr&chs=80x80&chl=http://talento.sg.com.mx/" + person.slug
          a(href="/" + person.slug + "/badge")
            img(src=qrUrl, alt=person.slug, title=person.name,style='float: left; margin-right: 20px')
          h1(style='padding-top: 16px') #{person.name} #{person.lastNames}

          ul#main-nav
            li.current
              a(href="/") Home
            - if(everyauth.loggedIn)
              li
                a(href="/edit") Editar
              li
                a(href="/delete") Eliminar
              li
                a(href="/logout") Salir
      .content-innertube
        - var infoMessages = request.flash('info')
        - var warningMessages = request.flash('warning')
        - var successMessages = request.flash('success')
        - each info in infoMessages
          .info= info
        - each warning in warningMessages
          .warning= warning
        - each success in successMessages
          .success= success
        != body
      #footer
        #footer-innertube
          .clear
          p 
            | SG Talento es un servicio provisto por 
            a(href="http://sg.com.mx") SG Software Guru
            |.
          #go-top

    script(src='//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js')


    script
      window.jQuery || document.write('<script src="/scripts/js/libs/jquery-1.6.2.min.js"><\\\/script>')
      (jQuery && jQuery.ui) || document.write('<script src="/scripts/js/libs/jquery-ui-1.8.16.min.js"><\\\/script>')

    script(src='//ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')

    script(src='/scripts/js/plugins.js')

    - if(typeof(scripts) != 'undefined')
      - each script in scripts
        script(type="text/javascript",src=script)

    script
      window._gaq = [['_setAccount','UA-21077034-6'],['_trackPageview'],['_trackPageLoadTime']];
      Modernizr.load({
        load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js'
      });

    //if lt IE 8
      script(src='//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js')
      script
        window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})
        