
#header-cv.clearfix
  ul#main-nav
    li.current
      a(href="/") Home
    - if(isMe)
      li
        a(href="/edit") Editar
      li
        a(href="/delete") Eliminar
    - if(everyauth.loggedIn)
      li
        a(href="/logout") Salir

  h1(style='padding-top: 16px') #{profile.firstName} #{profile.lastName}

#content

  .content-innertube
    - var infoMessages = request.flash('info')
    - var warningMessages = request.flash('warning')
    - var successMessages = request.flash('success')
    - each info in infoMessages
      .info= info
    - each warning in warningMessages
      .warning= warning
    - each success in successMessages
      .success= success

    #content-left
      .section

        .item
          -var fullName = profile.firstName +" "+profile.lastName
          -var gravatarUrl = "http://www.gravatar.com/avatar/" + gravatar + "?s=250"
          img(src=gravatarUrl, alt=person.slug, title=fullName)
        - if (isRecruiter)
          .item
            a(href="mailto:"+person.email)= person.email

        .clearfix

      .section(style='padding-top: 20px')
        .clearfix
          h2 Experiencia laboral

        - each job in profile.jobs
          .item
            h3= job.title
            .company
              | #{job.company}
              span.date #{job.start} -
                - if(job.end)
                  | #{job.end}
                - else
                  | presente
            .description
              p= job.summary

    #content-right
      .section
        .clearfix

          h3= profile.title
          br

          p= profile.summary
          br


      - if(profile.skills.length > 0)
        .section(style='padding-top: 20px')
          .clearfix
            h2 Skills

          .item
            - each skill in skills
              span.skillname
                | #{skill.name}
              - if (!skill.auto)
                span.skillstars
                  - each star in skill.stars
                    - var starUrl = '/img/star-' + star + '.png'
                    img(src=starUrl)
              .clear

      - if(profile.educations.length > 0)
        .section(style='padding-top: 20px')
          .clearfix
            h2 Educación

        - each education in profile.educations
          .item
            h3= education.title
            h4
              | #{education.school}
            .date #{education.start} -
              - if(education.end)
                | #{education.end}
              - else
                | presente
            .description
              p.margin= education.title
              p= education.summary

      - if(profile.publications.length > 0)
        .section(style='padding-top: 20px')
          .clearfix
            h2 Publicaciones
          - each publication in profile.publications
            h3
              a(href=publication.url)= publication.title

      - if(profile.affiliations.length > 0)
        .section(style='padding-top: 20px')
          .clearfix
            h2 Afiliaciones
          - each affiliation in profile.affiliations
            h3= affiliation
    .clear

#footer
  #footer-innertube
    .clear
    p
      | SG Talento es un servicio provisto por
      a(href="http://sg.com.mx") SG Software Guru
      |.
