
h2 Bienvenido a SG Talento

.clear

p
  | Por favor regístrate como usuario de SG Talento.
  | Indica tu email y escoge una contraseña.


- if ('undefined' !== typeof errors && errors.length)
  ul#errors
    - each error in errors
      li.error= error

form#form-container(action='/register', method="post")

  #login
    label(for='login') Email:
    input(type='text', name=everyauth.password.loginFormFieldName, value=userParams[everyauth.password.loginFormFieldName])
    .clear
  #password
    label(for=everyauth.password.passwordFormFieldName) Password
    input#password(type='password', name=everyauth.password.passwordFormFieldName, class='validate[required]')
    .clear
  #submit-btn
    input.submit(type='submit', value='Registrar') Registrar
    .clear

