h2 Búsqueda de perfiles

form#form-container(method="post")

  label(for='query') Búsqueda
  input#query(type='text',name='query',class='validate[required]',value=query)

  #submit-btn
    input.submit(type="submit",value="Buscar")

  .clear

- if(typeof(hits) != 'undefined' && hits.length)
  p Se encontraron #{total} resultados.
    - if (total > hits.length)
      span
        |  Mostrando los #{hits.length} más populares

  h2 Resultados

  table.searchresults
    tr.first
      td.first #
      td.first Nombre
      td.first Perfil
      td.first Lugar

    - var i = 0
    - each hit in hits
      - var profile = hit._source
      tr
        td #{++i}
        td
          a(href=profile.slug)= profile.name + ' ' + profile.lastNames
        td
          | #{profile.title}
        td
          | #{profile.place}

  .clear

  .spacer

